body {
    margin: 0;
    padding: 20px;
    font-family: 'montserrat', Roboto, sans-serif;
    /* background-color: var(--tg-theme-bg-color); Автоматическая тема Telegram */
    background-color: #171016;
    /* color: var(--tg-theme-text-color); */
    color: #ffbde1;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    transform: translateY(-200px);
    font-family: 'marvin visions';
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    /* background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color); */
    /* background-color: #161733;
    color: #e6e7f5; */
    cursor: pointer;
}

.typing-animation {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    min-height: 1em;
}

.hidden {
    display: none !important;
}

main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 500px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease-in;
    background-size: cover;
}

main h2 {
    font-size: 1.5em;
    margin: 0;
}

.faq-item {
    background-color: #ff1d98;
    color: #f6f986;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 12px 7px #f6f986; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
