body {
    margin: 0;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    /* background-color: var(--tg-theme-bg-color); Автоматическая тема Telegram */
    background-color: #aef2cc;
    color: var(--tg-theme-text-color);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    transform: translateY(-200px);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    /* background-color: var(--tg-theme-button-color); */
    
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
}

/* Анимация печатания  */
.typing-animation {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    min-height: 1em;
}

.hidden {
    display: none !important;
}

main {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease-in;
}

main h2 {
    font-size: 1.5em;
    margin: 0;
}

.faq-item {
    background-color: #541c85;
    color: #faf7fc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
